[submodule "shunit2"]
	path = shunit2
	url = https://github.com/zandev/shunit2.git
[submodule "shunit"]
	path = shunit
	url = https://github.com/akesterson/shunit.git
[submodule "cmdarg"]
	path = cmdarg
	url = https://github.com/akesterson/cmdarg
